
* {
    --color1: #F45B69;
    --bg: #fdf7f7;
    --bg: white;
    --color3: #22181c;
    --red: #5a0002cb;
    --color5: #f13030;
    --green: #091c00;
    --alt1: #3E000C;
    --alt2: #FB4B4E;
    --alt3: #FFCBDD;
    --alt4: #7C0B2B;
    --alt5: #D80032;
    --alt55: #d8003273;
    --bg2: #104547;

}

body {
    background-color: var(--bg);
    text-shadow: none;
}
.landing {
    height: 800px;
    overflow: hidden;
    background-color: black;
    background-image: url("img/bg2.png");
    background-size: cover;
    background-repeat: no-repeat;
} 
.landing .title {
    width: 55%;
    /* background-color: var(--red); */
    color: var(--bg);
    margin-left: 20%;
    margin-top: 120px;
    border-radius: 3px;
    padding: 30px;
}

.landing .title h4 {
    font-weight: 400;
    margin-bottom: 50px;
}

.landing .title h3 {
    font-size: 2rem;
    font-weight: 800;
    margin-bottom: 30px;
}

.landing .title a.phone {
    position: relative;
    color: var(--bg);
    font-size: 1.5rem;
    text-decoration: none;
    padding: 10px 20px;
    top: 0px;
    background-color: var(--alt5);
    scale: 1.0;
    transition: top ease 0.5s, scale ease 0.5s;
}
#phonesvg {
    color: white;
    width: 20px;
    height: 20px;
    margin-top: -5px;
}

.landing .title a.phone:hover {
    top: -5px;
    scale: 1.1;
}


.menu {
    display: block;
    background-color: var(--alt5);
    color: var(--bg);
    margin: 0 20%;
    position: absolute;
    bottom: 10%;
}
.navbar {
    padding: 0;
}
.nav-link {
    color: var(--green);
    margin-left: 40px;
}
a.hovereffect {
    box-shadow: inset 0 0 0 0 var(--alt5);
    color: var(--bg2);
    transition: color .3s ease-in-out, box-shadow .3s ease-in-out;
}
a.hovereffect:hover {
    box-shadow: inset 150px 0 0 0 var(--alt5);
    color: white;
}

#carouselExampleIndicators .carousel-inner img {
    aspect-ratio: 16 / 9;
}

section {
    margin-top: 80px !important;
    position: relative;
}

.meter::before {
    content: '';
    position: absolute;
    background-color: #ddd;
    width: 90%;
    height: 1px;
    left: 5%;
    top: -12px;
}
/* .meter::after {
    content: '';
    position: absolute;
    background-color: #ddd;
    width: 90%;
    height: 1px;
    left: 5%;
    bottom: -12px;
} */

section h1 {
    font-weight: 600;
    margin-bottom: 20px;
}

section::before {
    content: '';
    background: rgb(255,255,255);
    background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(216,0,50,0.2) 45%, rgba(216,0,50,0.20) 55%, rgba(255,255,255,1) 100%);
    width: 90%;
    height: 1px;
    top: -40px;
    left: 5%;
    position: absolute;
}

section#pricing img {
    width: 100%;
}

.input-group-text {
    background-color: white;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control:focus { 
    box-shadow: 0 0 0 0.1rem var(--alt5);
}

.form-control, .input-group-text {
    background-color: var(--bg);
    border-radius: 0;
    border: none;
    border-bottom: 1px solid var(--alt55);
}
.form-check-input:checked {
    background-color: var(--alt5);
    border-color: var(--alt55);
}
textarea.form-control {
    border: 1px solid var(--alt55);
}

.formbtn {
    background-color: var(--alt5);
    color:var(--bg);
    border: none;
    padding: 7px 12px;
    scale: 1;
    transition: scale ease 0.5s;
}

.formbtn:hover {
    scale: 1.1;
}


@media screen and (max-width: 1200px) {

    .col-md-0 img {
        display: none;
    }
  }